# ignore everything
*
!.gitignore
!BetterDiscord/
!BetterDiscord/**
!caelestia/
!caelestia/**
!hypr/
!hypr/**
!mako/
!mako/**
!nvim/init.lua
!spicetify/
!spicetify/**
!yazi/
!yazi/**
!vesktop/themes/
!vesktop/themes/**
